.navBar{
    background-color: black;
    border-radius: 32px;
}
.navBar ul{
    overflow: auto;
}
.navBar li{
    float: left;
    list-style: none;
    margin: 15px 20px;
}
.navBar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}
.navBar li a:hover{
    background-color: white;
    color: black;
}
.search{
    padding: 15px 15px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px;
    margin-top: 8px;
}
#logo{
    height: 108px;
    width: 108px;
    display: inline-block;
}
.profList{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 28.5%;
    background-color: #f1f1f1;
    height: 100%;
    position: fixed; 
    overflow: auto; 
    
  }
   .profList ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    
  } 
  
  .profList li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  } 
  
  
  .profList li a:hover {
    background-color: #555;
    color: white;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin:auto;
    margin-right: 30px !important;
    margin-left: 20px;
    text-align: center;
    padding: 10px;
    float: left;
  width: 50%;
  background-color: #f1f1f1;
  padding: 0 10px;
  }
 .card h1{
     margin align-self: auto;
 }
  .heading{
      color: black;
      text-decoration: underline;
  }